server:
  port: 8090
  tomcat:
    basedir: ${user.home}/demo/tomcat
  servlet:
    context-path: /demo
spring:
  profiles.active: local
  aop:
    proxy-target-class: true
  datasource:
    url: jdbc:mysql://localhost:3306/demo?useSSL=false&allowMultiQueries=true&rewriteBatchedStatements=true&serverTimezone=GMT%2B8
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  mybatis:
    configuration:
      cacheEnabled: true
      lazyLoadingEnabled: true
      aggressiveLazyLoading: true
      multipleResultSetsEnabled: true
      useColumnLabel: true
      useGeneratedKeys: false
      autoMappingBehavior: PARTIAL
      defaultExecutorType: REUSE
      mapUnderscoreToCamelCase: true
      localCacheScope: SESSION
      jdbcTypeForNull: NULL
mybatis:
  mapper-locations: classpath:mybatis/*.xml
logging:
  level:
    org.mybatis.spring: debug
    com.k.i.n.g.f.demo: debug
    com.k.i.n.g.f.demo.dao.*: debug
