server:
  port: 8090
  tomcat:
    basedir: ${user.home}/demo/tomcat
  servlet:
    context-path: /demo
spring:
  profiles.active: local
  aop:
    proxy-target-class: true
  datasource:
    url: jdbc:mysql://localhost:3306/demo?useSSL=false&allowMultiQueries=true&rewriteBatchedStatements=true&serverTimezone=GMT%2B8
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  mybatis:
    configuration:
      cacheEnabled: true
      lazyLoadingEnabled: true
      aggressiveLazyLoading: true
      multipleResultSetsEnabled: true
      useColumnLabel: true
      useGeneratedKeys: false
      autoMappingBehavior: PARTIAL
      defaultExecutorType: REUSE
      mapUnderscoreToCamelCase: true
      localCacheScope: SESSION
      jdbcTypeForNull: NULL
  redis:
    host: 127.0.0.1
    port: 6379
    redisson:
      config: classpath:redisson.yml
mybatis:
  mapper-locations: classpath:mybatis/*.xml
pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql
##feign 启用okHttp代替 java原生 HttpURLConnection
feign:
  okhttp:
    enable: false
  httpclient:
    enable: false
##zuul
ribbon:
  httpclient:
    enabled: false
  okhttp:
    enabled: false
## 引入eureka包，未启用eureka服务器需要配置不注册,也不需要重试
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
